.about {
    display: flex;
    gap: 40px;
    margin-top: 130px;
}

.about-image img {
    width: 300px;
    height: 350px;
    border: 5px solid rgb(77, 188, 232);
    box-shadow: 0 0px 80px rgb(28, 150, 198);
    border-radius: 30px;
}

.about-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
    gap: 35px;
    height: 100%;
    text-align: left; 
}

.about-btn {
    width: fit-content;
    height: fit-content;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 16px;
    border: none;
    background-color: rgb(77, 188, 232);
    box-shadow: 0px 0px 10px 0px rgb(77, 188, 232);
    cursor: pointer;
    margin: 0; 
}

.about-contents span {
    color: rgb(77, 188, 232);
    font-size: 40px;
    font-weight: 500;
}

.about-contents h1 {
    font-size: 40px;
    font-weight: 500;
}

.about-contents h2 {
    font-size: 25px;
    font-weight: 500;
}

.about-contents p {
    font-size: 17px;
}

.about-description {
    font-size: 17px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    text-align: left;
}

/* Media queries */

@media (max-width: 1200px) {
    .about {
        flex-direction: column;
        align-items: center;
    }

    .about-contents {
        margin-left: 0;
        text-align: center;
    }

    .about-description {
        text-align: start;
    }
}

@media (max-width: 1050px) {
    .about {
        gap: 20px;
    }

    .about-image img {
        width: 250px;
        height: 300px;
    }

    .about-contents span {
        font-size: 35px;
    }

    .about-contents h1 {
        font-size: 35px;
    }

    .about-contents h2 {
        font-size: 22px;
    }

    .about-description {
        font-size: 16px;
    }
}

@media (max-width: 750px) {
    .about {
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

    .about-image img {
        width: 200px;
        height: 250px;
    }

    .about-contents {
        margin-left: 0;
        text-align: center;
    }

    .about-btn {
        padding: 8px 20px;
        font-size: 14px;
        margin: 0 auto; 
    }

    .about-contents span {
        font-size: 30px;
    }

    .about-contents h1 {
        font-size: 30px;
    }

    .about-contents h2 {
        font-size: 20px;
    }

    .about-description {
        font-size: 15px;
        text-align: start;
    }
}
