.container {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items : center;
    gap: 50px;
    padding: 20px;
    max-width: 1200px;
    margin: 25px auto;
  }
  
  @media (max-width: 750px) {
    .container {
        flex-direction: column;
        gap: 20px;
        padding: 10px;
    }
  }
  